//color variables
$primary-yellow: #F2B70A;
$primary-white: white;
$primary-black: black;

//font weight
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;
$extra-bold-weight: 800;

// font sizes
//mobile
$h1-size-mobile: 40px;
$h2-size-mobile: 22px;
$h3-size-mobile: 18px;

//tablet
$h1-size-tablet: 65px;
$h2-size-tablet: 35px;
$h3-size-tablet: 21px;
$h4-size-tablet: 14px;
$footer-text-size-tablet: 12px;

//desktop
$h1-size-desktop: 75px;
$h2-size-desktop: 40px;
$h3-size-desktop: 25px;
$h4-size-desktop: 18px;
$nav-size-desktop: 21px;
$p-size-desktop: 21px;
$footer-text-size-desktop: 16px;